name: CI

on:
  push:
    branches:
      - main
  pull_request:

permissions:
  actions: read
  contents: read

jobs:
  main:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: pnpm/action-setup@v4
        with:
          version: 9

      - uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: 'pnpm'

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Generate Prisma Client
        run: pnpm prisma generate --schema=apps/api/prisma/schema.prisma

      - uses: nrwl/nx-set-shas@v4

      - name: Test
        run: pnpm nx affected -t test

      - name: Build
        run: pnpm nx affected -t build
        env:
          NODE_ENV: production
